# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# ML artifacts
app/ml/model.h5
app/ml/scaler.pkl
app/ml/data/*.csv
app/ml/data/*.json

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp

# Test cache
.pytest_cache/
.coverage
htmlcov/
